<!--engleza-->
<div class="title" *ngIf = "this.accountService.language == 0">
    <p>All your appointments</p>
</div>
<app-spinner *ngIf="this.accountService.isFetching  == true && this.accountService.language == 0"></app-spinner>
<div class="doctor-appointments" *ngIf = "this.accountService.language == 0 && this.accountService.isFetching == false">
    <div class="appointments" *ngFor = "let app of appointments">
            <span class="name">{{app.firstName}} {{app.lastName}} :</span>
            <span class="date">{{app.date | date: 'medium' }}</span>
    </div>
</div>

<!--romana-->
<div class="title" *ngIf = "this.accountService.language == 1">
    <p>Programarile dumneavoastra</p>
</div>
<app-spinner *ngIf="this.accountService.isFetching  == true && this.accountService.language == 1"></app-spinner>
<div class="doctor-appointments" *ngIf = "this.accountService.language == 1">
    <div class="appointments" *ngFor = "let app of appointments">
        <span class="name">{{app.firstName}} {{app.lastName}} :</span>
        <span class="date">{{app.date | date: 'medium' }}</span>
    </div>
</div>
