.log {
  font-size: 25px;
}

.login-page {
  width: 100%;
  padding: 8% 0 10% 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background-color: #012C50;
  max-width: 360px;
  margin: auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.34);
  animation: moveInUp 0.8s;
  color: #B9F1DA;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #B9F1DA;
  color: #012C50;
  width: 100%;
  border: 0;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 100px;
}
.form button:hover,.form button:active,.form button:focus {
  background: #8aacf5;
}

.form .message a:hover {
  color: #8aacf5;
}

.input{
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
  background: #B9F1DA;
  color:#012C50;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}
.form .message a  {
  color: #5084F2;
  text-decoration: none;
}



.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}


