<div class="login-page">
  <div class="form">
     <form class="login-form" [formGroup] = "loginForm" (ngSubmit) = "onSubmit()"> <!-- Bind the form to the loginForm -->
      <div class="log">Login</div><br>
      <input type="text" placeholder="email" formControlName="email" required/>
      <input type="password" placeholder="password" formControlName="password" required/>
      <button>login</button>
      <p class="message">Not registered? <a routerLink="/register">Create an account</a></p>
      <p class="message">Forgot <a href="/forgotpassword"> password </a></p>
    </form>
  </div>
</div>
