.title{
    text-align: center;
    font-size: 35px;
    color: #1c2d60;
    padding-top: 3%;
    padding-bottom: 5%;

}

.doctor-requests{

     background: #FFFFFF;
     max-width: 700px;
     margin: 0 auto 0px;
     padding: 25px;
     text-align: center;
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.34);
}

.doctor-requests input{
    height: 40px;
    width: 50%;
    padding-right: 10px;
    margin-bottom: 5%;
    border: none;
    font-size: 20px;
    color: #424141;
}

.doctor-requests button{
    color: #FFFFFF;
    height: 40px;
    width: 20%;
    margin-left: 2%;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
    margin-top: 3%;

    background: #5084F2;
    color: #FFFFFF;
    transition: all 0.3 ease;
    cursor: pointer;
    border: none;
}

.requests{
    border-style: inset;
}

.doctor-requests button:hover {
    background: #7ca0ee;
}