<!--ENGLEZA-->
<div class="forgot-page" *ngIf = "this.userService.language == 0">
    <div class="form">
        <form class="login-form" [formGroup] = "" >
            <div class="forgot">Password Reset</div><br>
            <input type="text" placeholder="Enter E-mail Addres" formControlName="email" required/>
            <button>Submit</button>
        </form>
    </div>
  </div>  
  <!--ROMANA-->
  <div class="forgot-page" *ngIf = "this.userService.language == 0">
    <div class="form">
        <form class="login-form" [formGroup] = "" >
            <div class="forgot">Resetare parola</div><br>
            <input type="text" placeholder="Enter E-mail Address" formControlName="email" required/>
            <button>Submit</button>
        </form>
    </div>
  </div>  