.open-button {
  background-color: #555;
  color:#B9F1DA;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
  bottom: 23px;
  right: 0px;
  bottom: 0px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: #012C50;
}

.chat{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right{
  align-self: flex-end;
  text-align: end;
}

.left{
  align-self: flex-start;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
}

/* Full-width textarea */
.form-container input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background-color: #B9F1DA;
  color:#012C50;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  margin-bottom:10px;
  background-color: #B9F1DA;
  color:#012C50;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
  color: #B9F1DA;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.container{
  display: flex;
  padding: 30px;
  min-height: 70vh;
  color: #B9F1DA;
}

.pacients-list{
  background-color: #012C50;
  flex: 0 0 25%;
  border-right: 1px solid #B9F1DA;
}

.chat{
  background-color: #012C50;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat__messages{
  padding: 10px;
}

.form{
  display: flex;
  padding: 10px;
}

.form input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin: 10px 0;
  background: #B9F1DA;
  color:#012C50;
}

.button{
  flex: 1;
  display: flex;
  align-items: center;
}

.form button {
  text-transform: uppercase;
  outline: 0;
  background: #B9F1DA;
  color: #012C50;
  width: 100%;
  border: 0;
  padding: 15px 20px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 100px;
}

.patient{
  padding: 5px;
  border-bottom: 1px solid #B9F1DA;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .form button{
    padding: 15px 10px;
    font-size: 12px;
  }
}


