
*{
  margin: 0;
  padding: 0;
  list-style: none;

}

.container-prim{
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .left{
  width: 35%;
  padding: 30px 25px;
  text-align: center;
  border-right: 1px solid #B9F1DA;
}

.container .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.container .left h2{
  margin-bottom: 10px;
}

.container .left .buttons {
  position: absolute;
  bottom: 0%;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.container .left .button input {
  margin: 20px;
  padding: 6px;
  border: none;
  position: relative;
  float:left;
  cursor: pointer;
  bottom:0;
}

.container .right{
  width: 65%;
  padding: 30px 25px;
}

.container .right .info,
.container .right .past{
  margin-bottom: 25px;
}

.container .right .info h3,
.container .right .past h3{
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.container .right .info_data {
  display: flex;
  justify-content: space-between;
}

.container .right .info_data .data {
  width: 45%;
}

.container .right .info_data .data h4 {
    margin-bottom: 5px;
    font-weight: bolder;
    letter-spacing: 1px;

}

.container .right .info_data .data input,
.container .right .info_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #72777e;
  border: none;
  font-size: 100%;
  background-color: #012C50;
  color: #B9F1DA;

}

.container {
  margin: auto;
  max-width: 600px;
  display: flex;
  border-radius: 15px;
  background-color: #012C50;
  color: #B9F1DA;
}

@media only screen and (max-width: 768px) {
  .container{
    max-width: 300px;
    flex-direction: column;
  }
  .left{
    display: none;
  }
}

