.full-width-table {
  width: 100%;
}

.mytable{
  margin: 20px auto;
  width: 70%;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

ng-container{
  width: 100%;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.crud-pacient{
  display: flex;
}


.button-edit, .button-delete {
  text-transform: uppercase;
  outline: 0;
  background: #012C50;
  color: #B9F1DA;
  width: 100%;
  border: 0;
  padding: 10px;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 100px;
}

.delete-pacient{
  justify-self: end;
  padding: 10px;
}

.edit-pacient{
  justify-self: end;
  padding: 10px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

@media only screen and (max-width: 1280px) {
  th:nth-child(2), th:nth-child(3) {display: none;}
  td:nth-child(2), td:nth-child(3) {display:none;}
}

@media only screen and (max-width: 680px) {
  .mytable{
    width: auto;
  }
}
