.full-width-table {
  width: 100%;
}

.mytable{
  margin: 20px auto;
  width: 70%;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

ng-container{
  width: 100%;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

@media only screen and (max-width: 1280px) {
  th:nth-child(2), th:nth-child(3) {display: none;}
  td:nth-child(2), td:nth-child(3) {display:none;}
}

@media only screen and (max-width: 680px) {
  .mytable{
    width: auto;
  }
}
