.container{
  display: flex;
  min-height: 86vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.imgDescription{
  max-width: 600px;
  animation: moveInUp 0.8s;
}

img{/*editing the image*/
  width: 100%;
}

.minihelp{
  display: flex;
  flex-direction: column;
  animation: moveInUp 0.8s;
}

.guide-title{
  font-size: 24px;
}

.step{
  font-size: 20px;
  list-style-type: none;

}

.bullets-step{
  font-size: 16px;
}

.guide-steps{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.column{
    float: left;
    width: 100%;
    padding-top: 10px;
    height: auto;
    text-align: left;

}


li{
  width: 100%;
  padding-left: 30px;
}

@media only screen and (max-width: 768px) {
  .container{
    display: flex;
    flex-direction: column;
  }

  .imgDescription{
    order: 2;
    padding: 15px 0px;
  }
  .minihelp{
    display: flex;
    flex-direction: column;
    order: 1;
  }

  .guide-title{
    font-size: 20px;
  }

  .step{
    font-size: 16px;
    list-style-type: none;

  }

  .bullets-step{
    font-size: 12px;
  }
}
