<div class="imgDescription">
    <img src="assets/img/doctor3eng.png" >
    <!--<p>Programeaz&#259;-te la medicul de familie dorit pentru servicii medicale.</p>-->
</div>
<div class="minihelp">
    <p class="guide-title">A little guide to the application</p>
    <ul class="guide-steps">
        <div class="column">
        <li ><p class="step">Find the doctor</p>
            <ul class="bullets-step">
                <li >Enter the application.
                </li>
                <li >Enter your personal data.
                </li>
                <li >Choose your family doctor.
                </li>
                <li>Wait for your doctor to accept your request.</li>
            </ul>
        </li>
        </div>
        <div class="column">
        <li ><p class="step">Program easily
        </p>
            <ul class="bullets-step">
                <li>After your doctor accepted your request you can make an appointment.</li>
                <li >Enter the APPOINTMENT section.
                </li>
                <li >Choose the desired date.
                </li>
                <li >Choose the desired time.
                </li>
            </ul>
        </li>
        </div>
        <div class="column">
        <li ><p class="step">No additional costs
        </p>
            <ul class="bullets-step">
                <li >No additional fees are included.
                </li>
            </ul>
        </li>
    </div>
    </ul>
</div>