.container{
  display: flex;
  min-height: 86vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

img{/*editing the image*/
  width: 600px;
}

.minihelp{
  display: flex;
  flex-direction: column;
}

.guide-title{
  font-size: 24px;
}

.step{
  font-size: 20px;
  list-style-type: none;

}

.bullets-step{
  font-size: 16px;
}

.guide-steps{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.column{
    float: left;
    width: 100%;
    padding-top: 10px;
    height: auto;
    text-align: left;
    background-color: #ffffff;
}


li{
  width: 100%;
  padding-left: 30px;
}
