h3 {
  margin: 0 0 10px;
}

.container{
  margin-top: 10px;
}

.btn-primary{
  background-color: #012c50;
  color: #b9f1DA;
}

.btn.btn-primary.active{
  background-color: #b9f1DA;
  color: #012c50;
  border: none;
}
