h3 {
  margin: 0 0 10px;
}

.container{
  margin-top: 10px;
}

.btn-group{
  box-shadow: 0 2px 6px black;
}

.btn{
  background-color: #012c50;
  color: #b9f1DA;
  border: none;
}

.btn-outline-secondary{
  color:#012c50;
  background-color: #b9f1DA;
}

.btn.btn-primary.active{
  background-color: #b9f1DA;
  color: #012c50;
  border: none;
  box-shadow: 0 2px 6px black;
}
