.page-doctor{
    display: flex;
    flex-direction: column;
}
.page-doctor-title{
    text-align: center;
    font-size: 30px;
    color: #1c2d60;
    padding-top: 20px;
    padding-bottom: 20px;
    float: none;

}
.nav-doctor{
   /* height: 20px;*/
    

 /*   position: relative;
    z-index: 1;*/
    background: #FFFFFF;
    max-width: 500px;
    margin: 0 auto 0px;
    padding: 25px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.34);

}
/* .nav-doctor .form{
    float:right;
    padding: 0 auto;

} */

.form input{
    height:40px;
    width: 80%;
    padding-right: 10px;

}
.form button{
    height:40px;
    margin-left:2%;
    padding-left:2%;
    padding-right:2%;
    background: #5084F2;
    color: #FFFFFF;
    transition: all 0.3 ease;
    cursor: pointer;
  
}
.show-doctor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
}
.doctor{
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.34);
}
.show-doctor .form2 button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #5084F2;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
 .show-doctor .form2 button:hover,.form2 button:active,.form2 button:focus {
    background: #8aacf5;
  }