.navbar{
  width: 100%;
  background-color: #012C50;
  color: #B9F1DA;
}

.navbar__links{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

.left-nav{
  display: flex;
  flex-direction: row;
}

.right-nav{
  display: flex;
  flex-direction: row;
}

li{
  cursor: pointer;
  padding: 10px 20px;
}

a{
  text-decoration: none;
  color: #B9F1DA;
}


#footer{
  background-color: #012C50;
  color:#B9F1DA;
  display: flex;
  justify-content: space-around;
  border: none;
  padding-top: 10px;
  font-size: 16px;

}

.main-container{
  min-height: 86vh;
}

.column>p{
  cursor: pointer;
}
