<!-- create -->

<nav class="navbar">
    <div class="firstnav">
        <p class="logo"  routerLink="/home">
            <img src="assets/img/logo.png">
        </p>
        <ul class="firstNavList">
            <li routeLink="/home" *ngIf = "this.userService.isUserLoggedIn  == true" (click)="logout()">Logout</li>
            <li routerLink="/profile" *ngIf="this.userService.isUserLoggedIn == true && this.userService.isApproved == true">Profile</li>
            <li routerLink="/login" *ngIf= "this.userService.isUserLoggedIn == false">ACCOUNT</li>
            <li class="dropdown">
                <a class="dropbtn">LANGUAGE</a>
                <div class="dropdown-content">
                  <a routerLink="/home">English</a>
                  <a routerLink="/acasa">Romanian</a>
                </div>
            </li>
        </ul>
    </div>
    <div class="secondnav">
        <ul class="secondNavList">
            <li routerLink="/home">HOME</li>
            <li routerLink="/doctors">DOCTORS</li>
            <li routerLink="/appointments" *ngIf = "this.userService.isUserLoggedIn  == true && this.userService.isApproved == true">APPOINTMENTS</li>
            <a href="#footer"><li>CONTACT</li></a>
        </ul>
    </div>
</nav>


<div class="container">
    <router-outlet></router-outlet>
</div>


<!-- footer -->
<footer>
    <div id="footer">
        <div class="column">
            <p routerLink="/home">About</p>
            <p routerLink="/terms">Terms and Conditions</p>
            <p routerLink="/terms">Privacy</p>
            <p class="border">.</p>
        </div>
        <div class="column">
            <p>Address: Cluj-Napoca, Dorobantilor 48</p>
            <p>Phone number: 0755851417</p>
            <p style="visibility:hidden">.</p>
            <p class="border">Copyright &#169;</p>
        </div>
        <div class="column">
            <p routerLink="/doctors">Doctors</p>
            <p routerLink="/appointments">Appointments</p>
            <p routerLink="/login">My account</p>
            <p class="border">.</p>
        </div>
    </div>
</footer>
