* {
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
  -moz-transition-property: all;
  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
}

.navbar{ /* here are the characteristics of the entire navbar*/
    background-color: blue;
    
    width:100%;
   
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(231, 231, 231);

}
.navbar .firstnav{ /*here I am putting the characteristics for the first part of the navbar*/
    background-color: white;
   height:20%;
   
}
.navbar .firstnav .logo{/*here I am editing the logo */
       float:left;
       display: flex;
       flex-direction: row;
       max-width: 100%;
       height: auto;
       margin-left: 100px;
       cursor: pointer;

}
.navbar .firstNavList{/*here I am editing the menu from the first part of the navbar*/
    text-align: right;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: right;
    float:right;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    padding-top:20px;
    
    padding-right: 40px;
     cursor: pointer;

}
.firstNavList li{/*the elements of the first menu*/
  color:rgb(128, 128, 128);
  background-color:#fefeff;
  padding:10px 20px;
  font-size:17px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  list-style-type: none;
}

.firstNavList li:hover{/*how the buttons will react when I put the mouse on it*/
  border:2px, rgb(255, 255, 255);
  background-color:  #b9cdfa;;
  padding:7px 17px;
  font-size:19px;
  color: #fcf7f7;
  
}


.navbar .secondnav{/*the second part of the navbar*/
  background-color: #5084F2;
  padding-bottom: 3px;
  
}
.navbar .secondNavList{/*second menu*/
  height: 20%;
  background-color: #5084F2;
  list-style-type: none;
  padding-right: 10px;
  margin-right: 5px;
  float:right;
  display: flex;
  flex-direction: row;
}

.secondNavList li{/*the elements of the second menu*/
  color:rgb(248, 245, 245);
  background-color:#5084F2;
  padding:15px 15px;
  font-size:15px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  cursor: pointer;
}

.secondNavList li:hover{/*how will reat the elements of the second menu when i put the mouse on*/
  border:2px, white;
  background-color:  #1745af;;
  padding:13px 13px;
  font-size:17px;
  color: #fcf9f9;
  
}


.container{
    background-color: white;
    margin: 0 auto;
    padding:0  auto;
    width: 70%;
    height: 100%;
    scroll-behavior: auto;
    border: 2px solid rgb(231, 231, 231);
    
}

footer:after {
    text-align: center;
    display: table;
    clear: both;
}

footer .column {
  float: left;
  width: 33.33%;
  padding-top: 10px;
  height: auto;
  text-align: center;
  background-color: #D3D6F3;
}

footer .column p {
  cursor: pointer;
}

footer .column .border {
  border-style: groove;
  border-bottom: none;
  border-left: none;
  border-right: none;
}