
<!-- create -->

<nav class="navbar">
    <div class="firstnav">
        <p class="logo">Logo-ul nostru</p>
        <ol class="firstNavList">
            <LI>NUME</LI>
            <li>CONT</li>
            <li>LIMBA</li>
        </ol>
    </div>
    <div class="secondnav">
        <ul class="secondNavList">
            <li>ACASA</li>
            <li>MEDICI</li>
            <li>PROGRAMARE ONLINE</li>
            <li>CONTACT</li>
        </ul>
    </div>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>





<!--Footer-->
