<!--engleza-->
<div *ngIf = "this.userService.language == 0">
    <div class="appointments-title" >
     <p>Make an appointment online</p>
</div>
<div class="message" *ngIf="this.appService.isSuccesfully == true;" >
  Your appointment have been registered succesfully! Thank you
</div>
<div class="appointments-description">
    <p>Choose an available date and hour:</p><br>
</div>
</div>

<div class="form" *ngIf = "this.userService.language == 0">
    <div class="date">
        <form [formGroup]="appForm" (ngSubmit)="onSubmit()">
            <!-- for min=sysdate and for max=sysdate + 30 days for example -->
            Date: <input type="date" min="2017-08-15" max="2018-08-26" formControlName="date"><br><br>
            Hour: <input type="time" step="60" formControlName="hour"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<div class="appointments-history" *ngIf = "this.userService.language == 0">
    Appointments-history:
</div>

<div class="history" *ngIf = "this.userService.language == 0">
    <input type="text" name="date1" value="12/04/2020" readonly><br>
    <input type="text" name="date2" value="2/08/2020" readonly><br>
    <input type="text" name="date2" value="29/10/2020" readonly>
</div>

<!--romana-->
<div *ngIf = "this.userService.language == 1"> 
<div class="appointments-title" >
    <p>Fa o programare online</p>
</div>
<div class="message" *ngIf="this.appService.isSuccesfully == true;" >
    Programarea dumneavoastra a fost inregistrata cu succes! Va multumim!
</div>
<div class="appointments-description" >
   <p>Alegeti o data si o ora disponibile:</p><br>
</div>
</div>

<div class="form" *ngIf = "this.userService.language == 1">
   <div class="date">
       <form [formGroup]="appForm" (ngSubmit)="onSubmit()">
           <!-- for min=sysdate and for max=sysdate + 30 days for example -->
           Data: <input type="date" min="2017-08-15" max="2018-08-26" formControlName="date"><br><br>
           Ora: <input type="time" step="60" formControlName="hour"><br>
           <input type="submit" value="Submit">
       </form>
   </div>
</div>
<div *ngIf = "this.userService.language == 1">
<div class="appointments-history" >
   Istoric programari:
</div>

<div class="history" >
   <input type="text" name="date1" value="12/04/2020" readonly><br>
   <input type="text" name="date2" value="2/08/2020" readonly><br>
   <input type="text" name="date2" value="29/10/2020" readonly>
</div>
</div>


