<!--engleza-->
<div *ngIf = "this.accountService.language == 0">
    <div class="appointments-title" >
         <p class="mes">Make an appointment online</p>
    </div>
    <div class="message" *ngIf="this.appService.isSuccesfully == true;" >
        Your appointment have been registered succesfully! Thank you
    </div>
    <div class="appointments-description">
        <p class="mes--1">Choose an available date and hour:</p><br>
    </div>
</div>

<div class="form" *ngIf = "this.accountService.language == 0">
    <div class="date">
        <form [formGroup]="appForm" (ngSubmit)="onSubmit()">
            <!-- for min=sysdate and for max=sysdate + 30 days for example -->
            <p class="label">Date:</p> <input type="date" min="{{this.minDate | date: 'yyyy-MM-dd'}}" max="{{this.newDate | date: 'yyyy-MM-dd'}}"  formControlName="date"><br><br>
            <p class="label">Hour:</p>
            <!-- <input type="time" step="1800" min="09:00" formControlName="hour"><br> -->
            <select name="hour" id="hour" formControlName = "hour" required (mouseover)="onSelectedDate()">
              <option value="" disabled selected></option>
              <option *ngFor="let hour of hours" [ngValue]="hour">{{hour.hour}}</option>
            </select><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<!--romana-->
<div *ngIf = "this.accountService.language == 1">
<div class="appointments-title" >
    <p>Fa o programare online</p>
</div>
<div class="message" *ngIf="this.appService.isSuccesfully == true;" >
    Programarea dumneavoastra a fost inregistrata cu succes! Va multumim!
</div>
<div class="appointments-description" >
   <p>Alegeti o data si o ora disponibile:</p><br>
</div>
</div>

<div class="form" *ngIf = "this.accountService.language == 1">
   <div class="date">
       <form [formGroup]="appForm" (ngSubmit)="onSubmit()">
           <!-- for min=sysdate and for max=sysdate + 30 days for example -->
           Data: <input type="date" min="2017-08-15" max="2018-08-26" formControlName="date"><br><br>
           Ora: <input type="time" step="60" formControlName="hour"><br>
           <input type="submit" value="Submit">
       </form>
   </div>
</div>
