.form {
    position: relative;
    z-index: 1;
    background: #012C50;
    max-width: 300px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.34);
    color:#B9F1DA;
  }



.appointments-title{
    text-align: center;
    font-size: 35px;
    color: #012C50;
    padding-top: 3%;

}


.appointments-description {
    text-align: center;
    font-size: 25px;
    color:#012C50;
    margin-top: 40px;
}


.date {
    text-align: center;
    margin: 40px 10px 10px 10px;
    font-size: 20px;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button, input[type="time"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button, input[type="time"]::-webkit-inner-spin-button  {
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator,input[type="time"]::-webkit-calendar-picker-indicator {
    color: #012C50;
    background-color: #B9F1DA;
}

/* A few custom styles for date inputs */
input[type="date"], input[type="time"]  {
    font-size: 18px;
    border:none;
    padding:7px;
    cursor: pointer;
    background-color: #B9F1DA;
    border-radius: 20px;
    width: 60%;
    min-width: 100px;
}

.label{
  display: inline-block;
}

form{
  text-align: center;
}

input[type="submit"] {
    background:#B9F1DA;
    width: 100px;
    margin-top: 5px;
    border: 0;
    padding: 15px;
    color: #012C50;
    font-size: 16px;
    text-align: center;
    border-radius: 100px;
}

.form input[type="submit"]:hover {
    background: #8aacf5;
}

input[type="text"]{
    margin-top: 1%;
    position: relative;
    float:left;
    display: block;
}


/* Hide AM/PM in input */
input[type=time]::-webkit-datetime-edit-ampm-field {
    display: none;
}



.message{
  background-color: #0af50a;
  text-align: center;
  width: 400px;
  margin: auto;
  padding: 5px;
}


@media only screen and (max-width: 768px) {
  .mes{
    font-size: 22px;
  }
  .mes--1, .label, input[type="date"], input[type="time"], input[type="submit"]{
    font-size: 16px;
  }
}

.fc-button-primary{
  display: none;
}
