<div class="register-page">
    <div class="form">
      <form class="register-form">
        <div class="reg">Sign In</div><br>
        <input type="text" placeholder="First Name" required/>
        <input type="text" placeholder="Last Name" required/>
        <input type="text" placeholder=" Social Security number" required/>
        <div class="data">Birthday:</div>
        <input type="date" placeholder="Birthday" required/>
        <input type="email" placeholder="Email" required/>
        <input type="text" placeholder="Phone number" required/>
        <input type="password" placeholder="Password" required/>
        <input type="password" placeholder="Confirm Password" required/>
        <div class="doctors">Choose a doctor:</div>
          <select name="doctors" id="doctors" required>
            <option value="doctor1">Doctor1</option>
            <option value="doctor2">Doctor2</option>
            <option value="doctor3">Doctor3</option>
          </select><br><br>
        <button>Register</button>
        <p class="message">Already registered? <a href="#">Login</a></p>
      </form>
    </div>
  </div>