<!--engleza-->
<div class="title" *ngIf = "this.userService.language == 0">
    <p>Pending requests</p>
</div>
<app-spinner *ngIf="this.userService.isFetching == true && this.userService.language == 0"></app-spinner>
<div class="doctor-requests" *ngIf = "this.userService.language == 0 && this.userService.isFetching  == false">
    <div class="requests" *ngFor = "let user of users">
            <input type="text" value="{{user.firstName}} {{user.lastName}}" readonly>
            <button type="submit" name="accept" (click) = "acceptUser(user.id)" value="Accept">Accept</button>
            <button type="submit" name="refuse" value="Refuse">Refuse</button>
    </div>
</div>
<!--romana-->
<div class="title" *ngIf = "this.userService.language == 1">
    <p>Cereri in asteptare</p>
</div>
<app-spinner *ngIf="this.userService.isFetching == true && this.userService.language == 1"></app-spinner>
<div class="doctor-requests" *ngIf = "this.userService.language == 1 && this.userService.isFetching  == false">
  <div class="requests" *ngFor = "let user of users">
    <input type="text" value="{{user.firstName}} {{user.lastName}}" readonly>
    <button type="submit" name="accept" (click) = "acceptUser(user.id)" value="Accept">Accept</button>
    <button type="submit" name="refuse" value="Refuse">Refuse</button>
</div>
</div>
