/* You can add global styles to this file, and also import other style files */
*{padding:0;
margin: 0;
box-sizing: inherit;
outline : none;
font-family: 'Rubik', sans-serif;}
body{
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
html {
  scroll-behavior: smooth;
  font-family: 'Merriweather', serif;
}
.red{
  color: red;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@keyframes moveInUp{
  0%{
    opacity: 0;
    transform: translateY(-30px);
  }

  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.svg__container{
  position: absolute;
  transform: translate(150px, 240px);
}

.svg__container--2{
  position: absolute;
  transform: translate(1200px, 100px);
}
.svg__container--3{
  position: absolute;
  transform: translate(1300px, 400px);
}

.svg__container--4{
  position: absolute;
  transform: translate(200px, 500px);
}

.svg__container--5{
  position: absolute;
  transform: translate(320px, 80px);
}

.svg__container--6{
  position: absolute;
  transform: translate(1250px, 750px);
}


@media only screen and (max-width: 1280px) {
  svg{
    display: none;
  }

.mytable{
  margin: 0px;
  width: 100%;
}

}
