.buttons{
  display: flex;
  justify-content: space-around;
}

.button_save{
  display: flex;
  justify-content: center;
}

.delete{
  background-color: #8B0000;
}

.main{
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.helper{
  display: flex;
  justify-content: center;
}

.first{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.second{
  padding: 10px;
}

button{
  text-transform: uppercase;
  outline: 0;
  background:#012C50;
  color: #B9F1DA;
  border: 0;
  padding: 10px;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 100px;
}

.noscroll {
  position: fixed;
  overflow: hidden;
}

@media only screen and (max-width: 1080px) {

  .main{
    flex-direction: column;
  }
}
