<div class="terms">
<h2><strong>Terms and Conditions</strong></h2>

<p>
    Welcome to www.MedClinic.com!
</p>

<p>
    These terms and conditions outline the rules and regulations for the use of MedClinic's Website, located at www.google.com.
</p>

<p>
    By accessing this website we assume you accept these terms and conditions. Do not continue to use www.MedClinic.com 
    if you do not agree to take all of the terms and conditions stated on this page.
</p>

<p>
    The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Roumania. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
</p>
<h3>
    <strong>License</strong>
</h3>

<p>
    Unless otherwise stated, MedClinic and/or its licensors own the intellectual property rights for all material
    on www.MedClinic.com. All intellectual property rights are reserved. You may access this from www.MedClinic.com 
    for your own personal use subjected to restrictions set in these terms and conditions.
</p>

<pre><b>You must not:</b>
    -Republish material from www.MedClinic.com
    -Sell, rent or sub-license material from www.MedClinic.com
    -Reproduce, duplicate or copy material from www.MedClinic.com
    -Redistribute content from www.MedClinic.com
</pre>
<br>
<pre><b>Approved organizations may hyperlink to our Website as follows:</b>
    -By use of our corporate name; or
    -By use of the uniform resource locator being linked to; or
    -By use of any other description of our Website being linked to that makes sense within the context and format of content 
     on the linking party’s site.
</pre>
<br>
<p>
    No use of MedClinic's logo or other artwork will be allowed for linking absent a trademark license agreement.
</p>

<h3>
    <strong>Content Liability</strong>
</h3>

<p>
    We shall not be hold responsible for any content that appears on your Website. You agree to protect and defend us 
    against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous,
    obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation 
    of, any third party rights.
</p>

<h3><strong>Reservation of Rights</strong></h3>

<p>
    We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately 
    remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and
    it’s linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow
     these linking terms and conditions.
</p>

</div>