<!--engleza-->
<app-spinner *ngIf="this.accountService.isFetching  == true && this.accountService.language == 0"></app-spinner>
<div class="container-prim">
<div *ngIf = "this.accountService.language == 0 && this.accountService.isFetching  == false">
    <div class="container" *ngIf="this.accountService.isFetching == false">
        <div class="left" *ngIf = "this.accountService.role == 0">
            <img src="https://img.icons8.com/cotton/128/000000/user-male--v1.png" alt="user" width="140">
            <h2>{{user.firstName}} {{user.lastName}}</h2>
        </div>
        <div class="right" *ngIf = "this.accountService.role == 0">
            <div class="info">
                <h3>Information</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Email:</h4>
                        <input type="text" name="mail" [value]="user.email" readonly>
                    </div>
                    <div class="data">
                        <h4>Phone:</h4>
                        <input type="text" name="phone" [value]="user.phoneNumber" readonly>
                    </div>
                </div><br>
                <div class="info_data">
                    <div class="data">
                        <h4>Sex:</h4>
                        <input type="text" name="sex" [value]="user.gender" readonly>
                    </div>
                    <div class="data">
                        <h4>Age:</h4>
                        <input type="text" name="birthday" [value]="user.age" readonly>
                    </div>
                </div><br>
                <div class="info_data">
                    <div class="data">
                        <h4>Social Security Number:</h4>
                        <input type="text" name="cnp" [value]="user.cnp" readonly>
                    </div>
                    <div class="data">
                        <h4>Doctor:</h4>
                        <input type="text" name="doctor" [value]="user.doctor.firstName + ' ' + user.doctor.lastName" readonly>
                    </div>
                </div>
            </div>
        </div>
        <app-messages *ngIf="this.accountService.role == 0"></app-messages>
    </div>


    <!-- MEDIC PROFILE -->
    <div class="container" *ngIf="this.accountService.isFetching == false">
        <div class="left" *ngIf = "this.accountService.role == 1">

            <h2>{{user.firstName}} {{user.lastName}}</h2>
            <div class="button">
              <button type="button" class="button" (click)="openDialog()">Update</button>
          </div>
        </div>
        <div class="right" *ngIf = "this.accountService.role == 1">
            <div class="info">
                <h3>Information</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Email</h4>
                        <input type="text" name="mail" [value]="user.email" readonly>
                    </div>
                    <div class="data">
                        <h4>Phone</h4>
                        <input type="text" name="phone" [value]="user.phoneNumber" readonly>
                    </div>
                </div><br>
                <div class="info_data">
                    <div class="data">
                        <h4>Age</h4>
                        <input type="text" name="birthday" [value]="user.age" readonly>
                    </div>
                    <div class="data">
                        <h4>Sex</h4>
                        <input type="text" name="birthday" value="M" readonly>
                    </div>
                </div>
                <div class="info_data">
                    <p>{{user.description}}</p>
                    </div>
                </div>
        </div>
    </div>
</div>
</div>
<!--romana-->
<app-spinner *ngIf="this.accountService.isFetching  == true && this.accountService.language == 1"></app-spinner>
<div *ngIf = "this.accountService.language == 1">
    <div class="container" *ngIf="this.accountService.isFetching == false">
        <div class="left" *ngIf = "this.accountService.role == 0">
            <img src="https://img.icons8.com/cotton/128/000000/user-male--v1.png" alt="user" width="140">
            <h2>{{user.firstName}} {{user.lastName}}</h2>
            <div class="buttons">
                <div class="button">
                    <input type="submit" value="Change doctor" routerLink="/change-doctor">
                </div>
                <div class="button">
                    <input type="submit" value="Appointment" routerLink="/appointments">
                </div>
            </div>
        </div>
        <div class="right" *ngIf = "this.accountService.role == 0">
            <div class="info">
                <h3>Informatii</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Email</h4>
                        <input type="text" name="mail" [value]="user.email" readonly>
                    </div>
                    <div class="data">
                        <h4>Telefon</h4>
                        <input type="text" name="phone" [value]="user.phoneNumber" readonly>
                    </div>
                </div><br>
                <div class="info_data">
                    <div class="data">
                        <h4>Sex</h4>
                        <input type="text" name="sex" [value]="user.gender" readonly>
                    </div>
                    <div class="data">
                        <h4>Varsta</h4>
                        <input type="text" name="birthday" [value]="user.age" readonly>
                    </div>
                </div><br>
                <div class="info_data">
                    <div class="data">
                        <h4>Social Security Number</h4>
                        <input type="text" name="cnp" [value]="user.cnp" readonly>
                    </div>
                    <div class="data">
                        <h4>Doctor</h4>
                        <input type="text" name="doctor" [value]="user.doctor.firstName + ' ' + user.doctor.lastName" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- MEDIC PROFILE -->
    <div class="container" *ngIf="this.accountService.isFetching == false">
        <div class="left" *ngIf = "this.accountService.role == 1">
          <img src="{{user.photo}}" alt="user" height="180px">
            <h2>{{user.firstName}} {{user.lastName}}</h2>
            <div class="buttons">
                <div class="button">
                    <input type="submit" value="Appointment" routerLink="/doctorappointments">
                </div>
                <div class="button">
                  <button type="button" routerLink="/updateAccount">Update</button>
              </div>
            </div>
        </div>
        <div class="right" *ngIf = "this.accountService.role == 1">
            <div class="info">
                <h3>Informatii</h3>
                <div class="info_data">
                    <div class="data">
                        <h4>Adresa de email</h4>
                        <input type="text" name="mail" [value]="user.email" readonly>
                    </div>
                    <div class="data">
                        <h4>Telefon</h4>
                        <input type="text" name="phone" [value]="user.phoneNumber" readonly>
                    </div>
                </div><br>
                <div class="info_data">
                    <div class="data">
                        <h4>Varsta</h4>
                        <input type="text" name="birthday" [value]="user.age" readonly>
                    </div>
                    <div class="data">
                        <h4>Sex</h4>
                        <input type="text" name="birthday" value="M" readonly>
                    </div>
                </div>
                <div class="info_data">
                    <p>{{user.description}}</p>
                    </div>
                </div>
        </div>
    </div>
</div>
