<div class="container">
    <div class="left">
        <img src="https://img.icons8.com/cotton/128/000000/user-male--v1.png" alt="user" width="140">
        <h2>{{user.firstName}} {{user.lastName}}</h2>
        <div class="buttons">
            <input type="submit" value="Change doctor" routerLink="/change-doctor">  <!--non-existent right now -->
        </div>
        <div class="buttons">
            <input type="submit" value="Appointment" routerLink="/appointments">
        </div>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                <div class="data">
                   <h4>Email</h4>
                  <input type="text" name="mail" [value]="user.email" readonly>
                </div>
                <div class="data">
                   <h4>Phone</h4>
                   <input type="text" name="phone" [value]="user.phoneNumber" readonly>
                </div>
            </div><br>
            <div class="info_data">
                <div class="data">
                   <h4>Sex</h4>
                   <input type="text" name="sex" [value]="user.gender" readonly>
                </div>
                <div class="data">
                    <h4>Age</h4>
                    <input type="text" name="birthday" [value]="user.age" readonly>
                </div>
            </div><br>
            <div class="info_data">
                <div class="data">
                    <h4>CNP</h4>
                    <input type="text" name="cnp" [value]="user.cnp" readonly>
                </div>
                <div class="data">
                    <h4>Doctor</h4>
                    <input type="text" name="doctor" [value]="user.doctor.firstName + ' ' + user.doctor.lastName" readonly>
                </div>
            </div>
        </div>
        <div class="past">
            <h3>Past APPOINMENTS</h3>
            <div class="info_data">
                <div class="data">
                    <h4>Recent date:</h4>
                    <input type="text" name="information" value="20.10.2020" readonly>
                    <input type="text" name="information" value="11.07.2020" readonly>
                </div>
            </div>
        </div>
    </div>
</div>
