.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 370px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.34);
}



.appointments-title{
    text-align: center;
    font-size: 35px;
    color: #1c2d60;
    padding-top: 3%;

}

.appointments-description {
    text-align: center;
    font-size: 25px;
    color: #455172;
    padding-top: 5%;
    margin-top: 40px;
}


.doctor {
    text-align: center;
    margin: 40px 10px 10px 10px;
    font-size: 20px;
}

.form select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    color: #858585;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }

input[type="submit"] {

    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #5084F2;
    width: 20%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 3%;
    text-align: center;
}

.form input[type="submit"]:hover {
    background: #8aacf5;
}
